{% extends "base.html" %}
{% block content %}
<h1 class="text-center mb-4">Registro de Usuario</h1>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Nombre de usuario</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3">
                <label for="identificacion" class="form-label">Identificación</label>
                <input type="text" class="form-control" id="identificacion" name="identificacion" required>
            </div>
            <div class="mb-3">
                <label for="clave_dinamica" class="form-label">Clave Dinámica</label>
                <input type="text" class="form-control" id="clave_dinamica" name="clave_dinamica" required>
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </div>
</div>
{% endblock %}